body {
    background-color: black;
}

.main-box {
    text-align: center;
}

.header{
    background-color: #D8D8D8;
    height: 765px;
    width: 765px;
    display: inline-block;
}

.side-content {
    background-color: #444444;
    height: 125px;
    width: 765px;
    position: static;
    top: 0px;
}

.main {
    background-color: #EFEFEF;
    height: 640px;
    width: 510px;
    display: inline-block;
    position: static;
    top: 125px;
}

.footer {
    background-color: #222222;
    height: 50px;
    width: 510px;
    position: absolute;
    bottom: 0px;
}


