body {
    background-color: black;
}

.box-container {
    text-align: center;
}

.box-1 {
    background-color: #D8D8D8;
    height: 765px;
    width: 765px;
    display: inline-block;
}

.box-2 {
    background-color: #444444;
    height: 125px;
    width: 765px;
    position: static;
    top: 0px;
}

.box-3 {
    background-color:
}

.box-4 {
    background-color:
}

.box-5 {
    background-color:
}

